<div class="container profile">
    <div class="row profile-row">
        <div class=" profile-left">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded"  />
        </div>
        <div class="col-sm-6 col-md-8 profile-right">
            <h4> {{name}} </h4>
            <small><cite title="San Francisco, USA">Adres, PL <i class="fa fa-map-marker" aria-hidden="true"></i>
            </cite></small>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i> {{email}}
                <br />
                <i class="fa fa-globe" aria-hidden="true"></i><a href="http://www.mapakleszczy.pl"> www.mapakleszczy.pl</a>
                <br />
                <i class="fa fa-book" aria-hidden="true"></i> {{favorite}}
                <br />
        </div>
    </div>
</div>